.projectViewContainer{
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content:center;
   animation-name:viewAnimation ;
   animation-duration:1s;

}



@keyframes viewAnimation{
    from {width: 0%;translateX:"100%"}
    to {width: 100%;}
}


.projectItemViewHeader{
   height:20%;
   width: 100%;
   display:flex;
   flex-direction: row;

   border-bottom: 1px solid;
   border-color: aquamarine;

   /* background-color: rgb(233, 255, 254); */
   background:linear-gradient(to right, rgb(197, 253, 235), transparent);
}

.projectItemViewBody{
    height:70%;
    width : 100%;
    background:linear-gradient(to right,  #efeeee,transparent);
    border-bottom-left-radius: 5pc;
    align-items: center;
    display: flex;
    flex-direction: column;


}

.projectItemViewHeaderTite{
 height:100%;
 width :30%;
 align-items: flex-end;
 justify-content:center;
 display:flex;
 flex-direction: column;

 /* background-color: rgb(167, 105, 24); */
}
.projectItemViewHeaderTite img {

    border-radius:50%;
    animation-name: imageAnimation;
    animation-duration: 1s;
     
  max-width: 70px;
  aspect-ratio: 1/1;
  animation-name: imageAnimation;
  animation-duration: 1s;


}

/* next color   #FBD689 */

.projectItemViewHeaderTite p {
    animation-name: textAnimation;
    animation-duration:1s;
    font-weight: bold;
}


.projectItemViewHeaderTeam{
    height:100%;
    width :30%;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
    
    /* background-color: burlywood; */

}

.projectItemViewHeaderTeam img {
 
  width: 40%;
  aspect-ratio: 1/1;
  animation-name: imageAnimation;
  animation-duration: 1s;
  
}
.projectItemViewHeaderTeam{
    font-size: 80%;

}

.projectItemViewHeaderTeam p{
    animation-name: textAnimation;
    animation-duration:1s;
    
}


@keyframes textAnimation{
    from {font-size:0%;}
    to {font-size: 100%;}
}

@keyframes imageAnimation{
    from {opacity: 0;}
    to {opacity: 1;}
}


.projectItemViewHeadersection2{
    height:100%;
    width :30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.projectItemViewHeadersection2 img {
  height : 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.projectItemViewHeadersection2 p {
    
    font-Size : 15px;
    animation-name: textAnimation;
    animation-duration:1s;
}

.projectDiscription{
    width : 50%;

}
.projectDiscription p {
    font-size : 11px;
    animation-name: DiscriptiontextAnimation;
    animation-duration:1s;

}

@keyframes DiscriptiontextAnimation{
    from {font-size:0%;opacity: 0;}
    to {font-size: 55%;opacity:1;}
}


.projectDiscriptionTitle{
    font-weight:bold;
    border-bottom: 1px solid ;  

}