


.sectionProjects{
  margin-top: 50px;
  display: block;
  width: 100%;
  aspect-ratio:3/1;
  max-height: 500px;
  align-self: center;
}

.projects_List_Container{

  width: 100%; 
  aspect-ratio: 1 / 0.6;

  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: row;
}


.project_item_Container{
  width: 60%;
  height:100%;
  align-items: flex-end;

}

.projects_List{
  width: 50%;
  height:100%;
  display:block;
  overflow-x: auto;
  scrollbar-gutter: stable;
  align-items: center;
}
.projects_List::-webkit-scrollbar {
  width: 16px;
}

.projects_List::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.projects_List::-webkit-scrollbar-thumb {
  background-color: #657b5e;
  border-radius: 100px;
}
.projects_List::-webkit-scrollbar{ 
  
}

.projectsContainer{
 width: 100%;
 aspect-ratio: 1/0.5;
}


