.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;

}


.sectionProjects{
  margin-top: 50px;
  display: block;
}

.projects_List_Container{

  width: 100%; 
  aspect-ratio: 1 / 0.5;

  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: row;
}


.project_item_Container{
  width: 60%;
  height:100%;
  background-color: aquamarine;
  
}

.projects_List{
  width: 40%;
  height:100%;
  display:block;
  overflow: scroll;
  align-items: center;
}

.projectsContainer{
 width: 100%;
 aspect-ratio: 1/0.5;
}


