.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  color : "#FF8C00"
}

.project:hover {
  transform: translateY(-25px);
   transform : translate3d()
}

.project__description {
  margin-top: 2em ; 

}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  background :rgb(235, 235, 235);
  border-radius: 0.8pc;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
  background-color: rgb(241, 241, 241);
}

.project .link--icon {
  margin-left: 0.5em;
}
