.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  color : "#FF8C00"
}

.project:hover {
  transform: translateY(-25px);
   transform : translate3d()
}

.project__description {
  margin-top: 2em ; 
  margin-bottom: 2em;

}
.project__tasks{
  margin-top: 2em ;
}
.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  background :rgb(235, 235, 235);
  border-radius: 2pc;
}

.project__stack_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  border-radius: 2pc;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
 
}
.project_task_light{

  justify-content: center;
  margin: 1.2em 0;
  background :rgb(235, 235, 235);
  border-radius: 0.8pc;
}

.project_task_dark{
  justify-content: center;
  margin: 1.2em 0;

  border-radius: 0.8pc;
}
.project_task_item{
  list-style-type: square;
  margin : 3px;
  padding : 5px;
}
.project .link--icon {
  margin-left: 0.5em;
}




/* show less more  */
.showless {
  display: inline-block;
  border-color: #3b3b3b;
  border-radius: 2pc;
  background-color: #ffffff;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width:  100%;
  height : 15 ;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.showless:hover span:after {
  opacity: 1;
  right: 0;
}

.showless:hover span {
  padding-right: 25px;
}

.showless span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.showless span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}




/* show more button  */

.showmore {
  display: inline-block;
  border-radius: 2pc;
  background-color: #cccccc;
  border: none;
  color: #3b3b3b;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width:  100%;
  height : 15 ;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.showmore:hover span:after {
  opacity: 1;
  right: 0;
}

.showmore:hover span {
  padding-right: 25px;
}

.showmore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.showmore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}