.project{
  width: 90%;
  border-top-right-radius: 2pc;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.3s linear;
  color : "#FF8C00";
  border-left: 1px solid;
  border-color: aquamarine;
  display : flex;

  flex-direction: row;
  cursor: pointer;
  align-items: center;
}


.selectedProject{
  width: 90%;
  border-top-right-radius: 2pc;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.3s linear;
  color : "#FF8C00";
  border-left: 1px solid;
  border-color: aquamarine;
  display : flex;
  background:linear-gradient(to right, rgb(197, 253, 235), white);
  transform: translateX(-15px);
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}


.project:hover {
    transform: translateZ(-25px);
    transform: translateX(-15px);
     transform : translate3d(15px);
     border-bottom: 2px solid;
     border-color: aquamarine;
    
  }

 
  .projectHeader img {
      height: 40px;
      width : 40px;
      border-radius: 50%;
     
  }
  .projectHeader h4{
    font-size:20px;
  }

  .projectHeader{
    display: block;
      flex-direction: column;
      width: 40%;
      height:100%;
  }
  .projectInfo {
      align-items:center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      border-radius: 2em; 
      border: 1px solid ;

      margin: 0 auto;
  
  }
.projectInfo h4{
  font-size:15px;

}
  .projectContributersIcons{
      align-items : center;
  }

.technologiesLogoListContainer{
  display: flex;
  flex-direction: row;
  width: 100%; 
  align-items: center;
  justify-content:center;
}

.logoContainer{
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}
.logoItem{
  width:40px;
  height:40px;
  border-radius: 50%;
}

